body {
    margin: 50px; 
   }

   h1, h2 {
    color:azure;
    background-color:black; 
    border-radius: 5px; /* to add some beauty */
    padding: 0;
    margin-top: 30px;
    margin-bottom: 30px;
   }

   ul {
    margin-top: 30px;
    margin-bottom: 30p;
   }

   Добавьте фоновое изображение блоку, 
   чтобы оно максимально масштабировалось с сохранением пропорций (не сплющивалось) и спозиционируйте по центру.

   Ссылка на изображение: https://moscoding.ru/static/3c967182b7898fc9fc35e9393e27068a/19b60/arca-k2-web2.webp

   div {
    width: 800px;
    height: 300px;
  
    background-image: url (arca-k2-web2.webp);
    background-size: contain; 
    background-origin: border-box; 
  }